@import url('https://fonts.googleapis.com/css?family=Concert+One|Shadows+Into+Light+Two');

:root {
  --header-font-family: 'Coming Soon', cursive;
  --content-font-family: 'Concert One', cursive;
  --main-font-color: white;
  --main-font-size: 20px;
  --fullscreen-height: 100vh;
  --fullscreen-width: 100vw;
}


/* @media screen and (min-width: 790px) { */

  html {
    background-image: url("images/beach-candle-candlelight.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    width: var(--fullscreen-width);
    height: var(--fulscreen-height);
  }

  body {
    height: inherit;
    width: inherit;
    color: #000000;
    font-family: var(--header-font-family);
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* This is the navigation bar css*/
  .header {
    text-align: right;
    font-size: 15px;
  }

  nav li {
    list-style-type: none;
    display: inline;
    color: var(--main-font-color);
  }

  nav li a {
    text-decoration: none;
    color:inherit;
    font-size: 14px;
    font-family: var(--content-font-family);
    font-weight: 400;
  }

  nav li a:hover {
    border-color: #f5146e;
    border-style: solid;
    border-radius: 10%;
    border-bottom-width: 2px;
  }



  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* This is the body section with content*/

  .content {
    background-color: white;
    opacity: .8;
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    font-family: var(--content-font-family);

  }

  .inner-div {
    padding: 25vh;
  }

  #contact {
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    text-align: left;
    color: var(--main-font-color);
    font-size: 100px;
    font-family: var(--content-font-family);
  }

  #contact-button {
    border: 4px solid;
    border-radius: 10%;
    border-color: var(--main-font-color);
    background-color: transparent;
    color: var(--main-font-color);
    font-size: 30%;
    padding: 10px;
    cursor: pointer;
    font-family: var(--content-font-family);
  }

  #contact-button:hover {
    background-color: white;
    color: #7a82a7;
  }


  #about {

  }

  #projects {

  }

/* } */
