@import url('https://fonts.googleapis.com/css?family=Concert+One|Shadows+Into+Light+Two');

:root {
  --header-font-family: 'Coming Soon', cursive;
  --content-font-family: 'Concert One', cursive;
  --main-font-color: white;
  --main-font-size: 20px;
  --fullscreen-height: 100%;
  --fullscreen-width: 100%;
  --blue: #75aaff;
}




  html {
    background-image: url("images/beach-candle-candlelight.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    overflow:visible;
  }

  body {
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    color: #000000;
    font-family: var(--header-font-family);
    display:inline-block;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    clear:both;
  }

  h2 {
    text-align: center;
  }

  section {
    height: inherit;
    width: inherit;
  }

  .container {
    display:flex;
    flex-direction: column;
  }

  .content-padding {
    padding: 5% 10% 5% 10%;
    text-align: justify;
  }

  /*~~~~~~~~~~~~~~~~~~~~~~~~~~THE NAVIGATION BAR CSS~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .header {
      text-align: right;
      font-size: 15px;
      margin-top: 40px;
    }

      nav ul li {
        list-style-type: none;
        display: inline;
        color: var(--main-font-color);
        padding-right: 3vw;
      }

        nav li a {
          text-decoration: none;
          color:inherit;
          font-size: 17px;
          font-family: var(--content-font-family);
          font-weight: 400;
          transition-duration: .5s;
        }

        nav li a:hover {
          color: #f5146e;
          font-size: 1.5em;
        }



  /*~~~~~~~~~~~~~~~~~~~~~THIS IS THE CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  .content {
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    font-family: var(--content-font-family);
    display:inline-block;
  }

    #contact {
      height: var(--fullscreen-height);
      width: var(--fullscreen-width);
      align-content:left;
      color: var(--main-font-color);
      font-size: 100px;
      font-family: var(--content-font-family);
    }

      .inner-div {
        padding: 20% 20% 20% 15%;
      }

       div div span a {
          text-decoration: none;
          color:inherit;
          transition-duration: .5s;
          outline: 0;
        }

        div div span a:hover {
          color: #f5146e;
        }

          div div span p {
            font-size:20%;
          }

  /*~~~~~~~~~~~~~~~~~~~~~~~~~SOCIAL MEDIA SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
   .social-media-links {
     /* visibility:hidden; */
     font-size: 30px;
     padding: 0 10px;
   }


  /*~~~~~~~~~~~~~~~~~~~~~~~THE ABOUT SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  #about {
    width: var(--fullscreen-width);
    background-color: #ffffff;

  }

      #about-parent{
        display:flex;
      }

        .about-content p {
          margin: 5%;
        }




  /*~~~~~~~~~~~~~~~~~~~~~~~~~THE PROJECT SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  #projects {
    width: var(--fullscreen-width);
    background-color: #e3e9f2;
    text-align: center;
    color: #062033;
  }

    #project-parent {
        display:flex;
        justify-content: center;
        text-align: center;
    }
      .project-img {
        width: 50%;
      }


  /*~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  footer {
    color: var(--main-font-color);
    text-align: center;
    height: 50%;
  }


  /*~~~~~~~~~~~~~~~~~~~~~~~~~PARALLAX SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  .parallax {
     height: 100vh;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow:visible;
  }
}
