@import url('https://fonts.googleapis.com/css?family=Concert+One|Shadows+Into+Light+Two');

:root {
  --header-font-family: 'Coming Soon', cursive;
  --content-font-family: 'Concert One', cursive;
  --main-font-color: white;
  --main-font-size: 20px;
  --fullscreen-height: 100%;
  --fullscreen-width: 100%;
}



/* @media screen and (min-width: 790px) { */

  html {
    background-image: url("images/beach-candle-candlelight.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
  }

  body {
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    color: #000000;
    font-family: var(--header-font-family);
    display:inline-block;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    clear:both;
  }
  
  h2 {
    text-align: center;
  }

  section {
    height: inherit;
    width: inherit;
  }

  .container {
    display:flex;
    flex-direction: column;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~THE NAVIGATION BAR CSS~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .header {
      text-align: right;
      font-size: 15px;
      margin-top: 40px;
    }

      nav li {
        list-style-type: none;
        display: inline;
        color: var(--main-font-color);
        padding-right: 3vw;
      }

        nav li a {
          text-decoration: none;
          color:inherit;
          font-size: 17px;
          font-family: var(--content-font-family);
          font-weight: 400;
          transition-duration: .5s;
          border-style:none;
        }

        nav li a:hover {
          border-color: #f5146e;
          border-style: solid;
          border-bottom-width: 1px;
        }



  /*~~~~~~~~~~~~~~~~~~~~~THIS IS THE CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  .content {
    background-color: white;
    opacity: .8;
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
    font-family: var(--content-font-family);
    display:inline-block;
  }

    #contact {
      height: var(--fullscreen-height);
      width: var(--fullscreen-width);
      align-content:left;
      color: var(--main-font-color);
      font-size: 100px;
      font-family: var(--content-font-family);
    }

      .inner-div {
        padding: 20% 20% 20% 15%;
      }

        section div div span a {
          text-decoration: none;
          color:inherit;
          transition-duration: .5s;
          border-style:none;
          border-color:#ff82b8;
          outline: 0;
        }

        section div div span a:hover {
          border-color: #f5146e;
          border-style: solid;
          border-bottom-width: 1px;
        }

          #contact-button {
            border: 4px solid;
            border-radius: 10%;
            border-color: var(--main-font-color);
            background-color: transparent;
            color: var(--main-font-color);
            font-size: 30%;
            padding: 10px;
            cursor: pointer;
            font-family: var(--content-font-family);
            transition-duration: 1s;
          }

          #contact-button:hover {
            background-color: white;
            color: #7a82a7;
          }



  /*~~~~~~~~~~~~~~~~~~~~~~~THE ABOUT SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  #about {
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
  }




  /*~~~~~~~~~~~~~~~~~~~~~~~~~THE PROJECT SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  #projects {
    height: var(--fullscreen-height);
    width: var(--fullscreen-width);
  }

  /*~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  footer {
    color: var(--main-font-color);
    text-align: center;
  }
/* } */
